Kids' Clothes Home Page.
<% if user_signed_in? %>

  <div class="children-container">
    <% if @children.length > 0 %>
      Your children: <br>
      <% @children.each do |child| %>
        <%= link_to child.nickname, child_path(child.id) %>
      <% end %>
    <% else %>
      You haven't added any children yet.
    <% end %>
  </div>
  <div class="add-child-form-container">
    <%= render "children/new", user: current_user.id %>
  </div>


<% end %>

<div class="market-link-container">
  And here, a <%= link_to "link to the market", markets_path %>.
<div>